%h3 Import a CSV File
= form_for :csv_parser, url: admin_sites_csv_parsers_path, html: {multipart: true} do |f|
  = file_field_tag :file 
  = submit_tag "Import CSV"

  %p
    = f.submit
    or
    = link_to 'Back', admin_sites_path
