%h3 Companies
= link_to 'New Company', new_admin_company_path

%table
  %tr
    %th Company Name
    %th{colspan: 3} country

  - @company.each do |company|
    %tr
      %td= company.name
      %td= ISO3166::Country.new(company.country).name
      %td
        - if company.banner_image.present?
          = image_tag(company.banner_image.url)
      %td
        - if company.logo.present?
          = image_tag(company.logo.url)
      %td.actions
        - if policy(company).edit?
          = link_to 'Edit', edit_admin_company_path(company), class: "btn btn-small"
        - if policy(company).destroy?
          = link_to "Delete", admin_company_path(company), method: :delete, data: { confirm: "Are you sure you want to delete #{company}?" }, class: "btn btn-small"
