= page_navigation_link_to("Admins", admin_admins_path)
= page_navigation_link_to("Members", admin_members_path)
= page_navigation_link_to("Sites", admin_sites_path)
= page_navigation_link_to("Trucks", admin_trucks_path)
= page_navigation_link_to("Fleets", admin_fleets_path)
= page_navigation_link_to("Companies", admin_companies_path)
