%ul
  - if @company.banner_image.present?
    = image_tag(@company.banner_image.url)
%h3= @company.name
%ul
  - if @company.logo.present?
    = image_tag(@company.logo.url)
= @company.country
= @company.slogan
%br
%br
- @company.sponsors.each do |sponsor|
  %div
    %h3= sponsor.name
    = sponsor.description
    %ul
      - if sponsor.logo.present?
        = image_tag(sponsor.logo.url)
