%ul= image_tag(@company.banner_image.url)
%h3= @company.name
%ul= image_tag(@company.logo.url)
= @company.country
= @company.slogan
%br
%br
- @company.sponsors.each do |sponsor|
  %div
    %h3= sponsor.name
    = simple_format(sponsor.description)
    = sponsor.description
    = sponsor.description.html_safe
    %ul= image_tag(sponsor.logo.url)
